@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
/* .ant-card,
.ant-card-bordered,
.ant-card-hoverable {
  height: 20rem;
} */

img {
  width: 100%;
  max-height: 23rem;
  object-fit: cover;
}
.introduce {
  text-align: center;
  padding-bottom: 2rem;
}

.introduce > h2 {
  font-family: "Luckiest Guy", cursive;
  margin-top: 55px;
  font-size: 3rem;
  color: #faac20;
}

.searchfilter {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.ant-input {
  font-size: 20px;
}

.ant-collapse-borderless {
  background-color: #faac2059;
  border: 0;
  margin-bottom: 2rem;
  border-bottom: 0;
}

.btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.btn:hover {
  background-color: #f7fafa;
}

.ant-input-affix-wrapper .ant-input {
  min-height: 100%;
  border-radius: 3rem;
  background-color: #afafaf17;
}
.anticon svg {
  display: inline-block;
  font-size: 26px;
  color: #585858;
}

@media (max-width: 900px) {
  .ant-input {
    font-size: 15px;
  }
}
