@import "~antd/dist/antd.css";

.dropzone {
  display: flex;
  justify-content: space-between;
}

.image {
  display: flex;
  width: 600px;
  height: 200px;
  overflow-x: auto;
}

.image::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #ffffff;
}
.image::-webkit-scrollbar-thumb {
  border-radius: 3.5px;
  background-color: #faac20;
}
.image::-webkit-scrollbar-track {
  background: #ebe0cd;
}

.upload_btn {
  top: 5rem;
  left: 10rem;
}

@media (max-width: 900px) {
  .upload_btn {
    top: 10rem;
    left: 7rem;
  }

  .dropzone_imageSection {
    margin-right: -9rem;
  }
}
