@import "~antd/dist/antd.css";

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 40px;
  width: 20px;
}

.image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 0;
  width: 0;
}

/* DetailPage */

html,
body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_comparePage {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #faac20;
  background: linear-gradient(
    90deg,
    rgb(253, 220, 32) 0%,
    rgb(253, 220, 32) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(233, 146, 47, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button_comparePage::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #faac20;
  box-shadow: 0 0 60px rgba(243, 195, 63, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button_comparePage:hover,
.button_comparePage:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button_comparePage:hover::before,
.button_comparePage:focus::before {
  opacity: 1;
}

.button_comparePage::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #faac20;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button_comparePage:hover::after,
.button_comparePage:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@media (max-width: 1680px) {
  .DetailPage_full {
    width: 100%;
    padding: 3rem 10rem;
  }

  .DetailPage_data {
    width: 100%;
    padding: 3rem 10rem;
  }
}
@media (max-width: 900px) {
  .DetailPage_full {
    padding: 41px;
  }

  .DetailPage_data {
    padding: 41px;
  }
}

/* productioninfo */

.img_logo {
  width: 50%;
  max-height: 4rem;
  object-fit: contain;
}

.price_wrap {
  display: flex;
  border-bottom: 0.5px solid #eaeaea;
}

.price_wrap p:first-child {
  font-size: 40px;
  font-family: "Spoqa-Medium", -apple-system, BlinkMacSystemFont,
    "Apple SD Gothic Neo", Arial, sans-serif;
  color: #222;
}

.price_wrap p:nth-child(2) {
  margin: 20px 0px 0px 5px;
  font-size: 20px;
  color: #222;
}

.description_wrap p {
  margin-top: 12px;
}

.ant-btn,
.ant-btn-round,
.ant-btn-lg {
  background-color: #e2e2e2;
}

.ant-btn-round.ant-btn-lg {
  top: 1rem;
}

.addCartBtn {
  border-color: transparent;
}
